.single-goods{
    width: 200px;
    height: 350px;
    border: 1px solid black;
    margin: 10px;
    float: left;
    text-align: center;
}
.single-goods button{
    display: block;
    margin: 20px auto;
}

.single-goods img{
    width: 200px;
    height: 200px;
}